@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Home/_LayoutOgani.cshtml";
}


@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialViewSanPham", item)
}
<div class="product__pagination" style="margin-inline: auto">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>